$color-error: red;
$color-background: #fff;
$color-background-dark: #323232;
$color-info-bg: #eee;
$color-info-text: #8a8a8a;
$color-text-primary: #333;
$color-text-secondary: #787878;
$color-text-light: #fefefe;

$border-primary: 1px solid #c4c4c4;
$border-dark: 1px solid #000;

$font: Verdana, Geneva, Tahoma, sans-serif;
$fz-1: 2rem;
$fz-2: 1.4rem;
$fz-3: 1.2rem;
$fz-4: 1rem;
$fz-5: 0.8rem;